.recomendacion-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.libro-card {
  border: 1px dashed #aaa;
  padding: 1rem;
  width: 150px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.libro-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.libro-titulo {
  margin-top: 0.5rem;
  font-weight: bold;
}
